<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="custom-toolbar">

      <ion-buttons slot="start" (click)="goToCursosPage()">

        <ion-button>
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="titulo1">
    <div class="subTitulo1">Asistencia</div>
  </div>

  <div class="texto1">
    <div class="subTexto1"><strong>Sede:</strong> Antonio Varas</div>
  </div>

<div class="botones">
  <ion-button class="texto-izquierda" fill="clear" expand="full" >
    Carlos Gonzalez
  </ion-button>
  <ion-button class="texto-izquierda" fill="clear" expand="full">
    Alberto Mejia
  </ion-button>
  <ion-button class="texto-izquierda" fill="clear" expand="full">
    Constanza Flores
  </ion-button>
  <ion-button class="texto-izquierda" fill="clear" expand="full">
    Javiera Gonzalez
  </ion-button>
  <ion-button class="texto-izquierda" fill="clear" expand="full">
    Gonzalo Guzman
  </ion-button>
  <ion-button class="texto-izquierda" fill="clear" expand="full">
    Astrid Gonzalez
  </ion-button>

</div>
  </ion-content>