<app-header-teacher></app-header-teacher>

<ion-content [fullscreen]="true">
  
  <div class="titulo1">
    <div class="user-info">
      <p>Nombre: {{ nombre }}</p>
      <p>Correo Electrónico: {{ correoElectronico }}</p>
    </div>
  </div>
  
  <div class="texto1">
    <div class="subTexto1"><strong>Sede:</strong> Antonio Varas</div>
  </div>

<div class="botones">
  <ion-button class="texto-izquierda" fill="clear" expand="full" routerLink="/asistencia">
    <ion-icon name="square" style="color: rgb(239, 232, 155);"></ion-icon>
    Matematicas
  </ion-button>
  <ion-button class="texto-izquierda" fill="clear" expand="full" routerLink="/asistencia">
    <ion-icon name="square" style="color: rgb(239, 232, 155);"></ion-icon>
    Base de datos
  </ion-button>
  <ion-button class="texto-izquierda" fill="clear" expand="full" routerLink="/asistencia">
    <ion-icon name="square" style="color: rgb(239, 232, 155);"></ion-icon>
    Etica
  </ion-button>
  <ion-button class="texto-izquierda" fill="clear" expand="full" routerLink="/asistencia">
    <ion-icon name="square" style="color: rgb(239, 232, 155);"></ion-icon>
    Programación Web
  </ion-button>
  <ion-button class="texto-izquierda" fill="clear" expand="full" routerLink="/asistencia">
    <ion-icon name="square" style="color: rgb(239, 232, 155);"></ion-icon>
    Estadistica
  </ion-button>
  <ion-button class="texto-izquierda" fill="clear" expand="full" routerLink="/asistencia">
    <ion-icon name="square" style="color: rgb(239, 232, 155);"></ion-icon>
    Matematica 2
  </ion-button>

</div>
  </ion-content>
