ion-content {
    --ion-background-color: #f4f4f4; // Cambia el color de fondo según tus preferencias
     
     }

     .forgot-password-link {
        text-align: center;
        margin-top: 20px; /* Puedes ajustar el margen superior según sea necesario */
      }
      