ion-button {


    --background-activated: #837c7c;
    --background-focused: #eaeaea;
  
    --color: rgb(0, 0, 0);
  
    --border-radius: 0;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;
  
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: deeppink;
  
    --padding-top: 10px;
    --padding-bottom: 10px;

  }

  ion-button.button:hover {
    background-color: #120f41; /* Nuevo color de fondo al pasar el mouse */
  }

  .title{
    background-color: #000342;
}



.texto1{
  margin-top: 10%;
}
.text{
  padding-left: 5%;
}
.botones{  
  margin-left: 10%;
  margin-right: 10%;
}

.texto-izquierda{
  padding-top: 10%;
}

.alertaProf{
  margin-top: 90%;
  text-align: center;
  
}

