
ion-toolbar.custom-toolbar {
    --ion-background-color: #000342; /* Cambia el color de fondo según tus preferencias */
  }
  
  ion-title {
    color: white; /* Cambia el color del texto a blanco */
    text-align: right; /* Alinea el texto a la izquierda */
  }
  
  /* Estilo para la franja amarilla */
  ion-header::after {
    content: "";
    display: block;
    background-color: rgb(255, 196, 0);
    height: 30px;
  }


  ion-content {
    --ion-background-color: #f4f4f4; // Cambia el color de fondo según tus preferencias     
}
.title{
    background-color: #000342;
    color:white;
}

.subTitulo1{
    padding: 3%;
    color:white;
    font-size: x-large;
    margin-left: 10%;
}
.imgQR{
    padding-top: 15%;
    text-align: center;
}